<p-table [value]="publications">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Content</th>
            <th>Level</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-publication>
        <tr>
            <td>{{publication.id}}</td>
            <td>{{publication.title}}</td>
            <td>{{publication.content}}</td>
            <td>{{publication.accessLevel}}</td>
        </tr>
    </ng-template>
  </p-table>